/* PHASE 1: Header */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a {
  color: inherit;
}

.header {
  display: block;
}

.header-nav {
  margin: 0 auto;
  width: 900px;
}

.header-logo {
  float: left;
  position: relative; 
}

.header-list {
  display: flex;
  float: right;
}

.header-list > li {
  padding-left: 15px;
  padding-right: 15px;
}