/* PHASE 0: Sidebar */
.profile-picture {
  display: block;
  margin-top: -130px;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
}

.profile-info > p {
  margin: 20px 0;
}

.profile-nav > ul > li {
  font-weight: 700;
  border-bottom: 1px solid lightgrey;
}

.profile-nav > ul > li:hover {
  background-color: lightgrey;
}

.profile-nav a{
  padding: 5px;
  display: block;
}


.profile-nav > ul:first-child {
  border-top: 1px solid lightgrey;
}

#profile-name {
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0;
}