<h1>New User!</h1>

<form action="<%= users_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
  <label>
    Username: 
    <input type="text" name="user[username]" value="">
  </label>
  <br>
  <label>
    Password: 
    <input type="password" name="user[password]" value="">
  </label>
  <br>
  <input type="submit" value="Create User">
</form>

<% if flash[:errors] %>
  <p><%= flash[:errors] %></p>
<% end %>