<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li id="sub-button"><button type="button">Subscribe Now</button></li>
			<li id="login-button"><button type="button">Log In</button></li>
			<li><a href="#">
				<i class="fas fa-cog"></i>
			</a></li>
		</ul>
	</nav>
</header>