<h1>Create a new sub!</h1>

<form action="<%= user_subs_url(current_user) %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
  <label>
    Name: 
    <input type="text" name="sub[title]" value="">
  </label>
  <br>
  <label>
    Description: 
    <textarea name="sub[description]" value=""></textarea>
  </label>
  <br>
  <input type="submit" value="Submit!">
</form>

<% if flash[:errors] %>
  <p><%= flash[:errors] %></p>
<% end %>